<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>
            Angular demo
        </title>
        <script type="text/javascript" src="../libs/angular.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="filters.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    
    <body ng-controller="MainController as main">
        <div>
        <form name="userForm" novalidate>
            <table class = "user-form">
                <tr>
                    <td>First name:</td>
                    <td><input type="text" ng-model="main.user.firstName" required></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" ng-model="main.user.lastName" required></td>
                </tr>
                <tr>
                    <td>Phone (10 digits):</td>
                    <td><input type="text" ng-model="main.user.phone" ng-minlength="10" required></td>
                </tr>
                <tr>
                    <td>Email address:</td>
                    <td><input type="email" ng-model="main.user.email" required></td>
                </tr>
                <tr>
                    <td>Postal code:</td>
                    <td><input type="text" ng-model="main.user.postalCode" required></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button ng-click="main.submitForm(userForm)">Submit</button></td>
                </tr>
            </table>
        </form>
        </div>
        <p> {{main.user}}</p>
       
    </body>
</html>